* {
    margin: 0;
}

/* font section */
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* header section start here */
.header-container {
    /* border: 2px solid red; */
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 652px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.header-text-h1 {
    font-weight: 800;
    font-size: 48px;
    text-align: center;
}

.header-text-p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(13, 19, 33, 1);
}

.header-text-btn {
    width: 208px;
    height: 66px;
    background-color: rgba(13, 19, 33, 1);
    color: white;
    border-radius: 8px;



}

/* why web development section start here */
.why-web-bg {
    width: 1140px;
    height: 1393px;
    /* border: 2px solid red; */
    background: rgba(173, 200, 247, .1);
    margin: 0 auto;
    margin-top: 74px;
}

.why-web-section-all {
    padding: 80px;
}

.why-web-text {
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 48px;
    min-width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.why-web-h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.why-web-p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* web block one & three */
/* here block one and three are same as so use directly */
.why-web-block-one-text {}

.why-web-section-two {
    margin-top: 32px;
}

.why-web-block-one-text-h3 {
    color: rgba(13, 19, 33, 0.7);

    font-size: 24px;
    font-weight: 700;
}

.why-web-block-one-text-p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.why-web-block-one-text-btn {
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.why-web-block-one {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    padding: 48px;
}

.why-web-block-one-text-h3 {
    color: rgba(13, 19, 33, 0.7);

    font-size: 24px;
    font-weight: 700;
}

.why-web-block-one-text-p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.why-web-block-one-text-btn {
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.why-web-block-one {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    padding: 48px;
}


/* web block two */
.why-web-block-two-text {}

.why-web-block-two-text-h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: right;

}

.why-web-block-two-text-p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: right;

}

.why-web-block-two-text-btn {
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.btn-move-right {
    text-align: right;
}

.why-web-block-two {
    display: flex;
    background: #FFFFFF;
    padding: 48px;
}

.why-web-block-two-text-h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.why-web-block-two-text-p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.why-web-block-two-text-btn {
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.why-web-block-two {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    padding: 48px;
}

.why-web-section-three {
    margin-top: 32px;
}

/* Inspiration section start */
.Inspiration {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Inspiration-text {
    text-align: center;
}

.Inspiration-h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.Inspiration-p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.Inspiration-video {
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 32px;
    border-radius: 16px;
}

.Inspiration-video-r {
    border-radius: 16px;
}

/* target section start here */
.My-Current-container {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 251px;
}

.My-Current-container-text {
    text-align: center;
}

.My-Current-container-h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.My-Current-container-p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.My-Current-container-card {
    display: flex;
}

.My-Current-container-card1 {
    background: #EBEBEB;
    padding: 40px;
    margin-right: 24px;
    border-radius: 16px;
}

.My-Current-container-card2 {
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    margin-right: 24px;
    border-radius: 16px;
}


.My-Current-container-card3 {
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    margin-right: 24px;
    border-radius: 16px;

}

.My-Current-container-h3 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}

.My-Current-container-card-p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.My-Current-container-card-ankor {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}